.h1{    
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    color: #FFFFFF;
}

input{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.h2{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.h3{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
}

.h4{
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
}

.h5{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.h6{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}


.body_font{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A7A7C8;
}

.body_font_small{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A7A7C8;
}

.ul_name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}

.login-h2{
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;        
    color: #FFFFFF;    
    text-align: center;
}

@media screen and (max-width:989px) {
    .h1{        
        font-size: 34px;
        line-height: 44px;      
        text-align: center;      
    }

    .h2{        
        font-size: 23px;
        line-height: 30px; 
    }

    .h5{        
        font-size: 20px;
        line-height: 26px;        
    }

    .h6 {
        font-size: 13px;
        line-height: 16px;
    }

    .body_font{       
        font-size: 13px;
        line-height: 16px;       
    }

    .body_font_small{       
        font-size: 13px;
        line-height: 18px;      
    }

    .ul_name{
        font-size: 17px;
        line-height: 21px;
    }

    .box_img_text .text .body_font{
        font-size: 14px;
        line-height: 19px;
    }

    .rates .h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .platforms .h2 {
        font-size: 26px;
        line-height: 33px;
    }   

    .card_ul{
        font-size: 16px;
        line-height: 20px;
    }

    .FAQ> .h2 {
        font-size: 26px;
        line-height: 33px;
    }

    footer.body_font_small{
        font-size: 14px;
        line-height: 18px;
    }
}

