:root{
    --width-limit:48px;
}

*{
    -webkit-tap-highlight-color: transparent;
}


body{
    font-family: 'TT Interfaces';
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;    
    font-weight: 400;
    overflow-y: scroll;
}

.img{
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
}

.Prose {
    display: grid;
    grid-template-columns: [full-start] minmax(var(--width-limit), 1fr) [main-start] minmax(0, 1360px) [main-end] minmax(var(--width-limit), 1fr) [full-end];
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
}

.Prose > * {
  grid-column: main;
}

.Prose-splash {
    grid-column: full;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 var(--width-limit);
}

.flex{
    display: -webkit-box;
    display: flex;
}

main{
    -webkit-box-flex: 1;
            flex-grow: 1;
}

header, footer{
    width: 100%;        
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    resize: none;
    background: none;
}

input {
    font-family: inherit;
}

body{
    background:#050622 url(../img/bg_body.png);
    background-size: cover;
    overflow-x: clip;
    background-repeat: no-repeat;
}

ul{
    margin-left: 18px;
}

.a-logo{
    display: initial;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
}

.a-logo span{    
    color: #18BAFF;
}

.color_white{
    color: #FFFFFF;
}

.color_yellow{
    color: #FFB800!important;
}

.color_red{
    color: #FF2828!important;
}

.a{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #564FFF;
}

.link-anim{
    border-bottom: 1px solid transparent;
    -webkit-transition: border .5s linear;
    transition: border .5s linear;
}

.link-anim:hover{
    border-bottom:1px solid #564FFF;
}

.btn{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 13px 20px;
    text-align: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; 
    color: #FFFFFF;
    background-color: #564FFF;
    border-radius: 5px;;
    -webkit-transition: box-shadow .5s linear;;
    transition: box-shadow .5s linear;
}

.btn:hover, .ui-tabs-tab:hover{
    box-shadow: 8px 6px 20px 2px #221f88b8;    
}

.btn_telegram{   
    font-weight: 800;    
    border: 1px solid #564FFF;
}

.btn_primary{   
    font-weight: 700;    
    flex-shrink: 0;    
    padding: 19px 20px;
}

.btn_payment{
    width: 100%;
    padding: 27px;
    background: linear-gradient(106.14deg, #18BAFF 20.27%, #564FFF 78.28%);
}

.btn_secondary{
    background: rgba(86, 79, 255, 0.15);
    border: 1px solid #564FFF;
}

.btn_open_modal{
    cursor: pointer;
}

.a_fluid{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}

.d-initial{
    display: initial;
}

.font-w-600{
    font-weight: 600;
}

.mobile-img{
    display: none;
}

.font-gradient-blue{
    background: linear-gradient(119.36deg, #18BAFF 19.35%, #4500D9 126.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.p-relative{
    position: relative;
}

.header_box{
    -moz-column-gap: 20px;
         -webkit-column-gap: 20px;
            column-gap: 20px;
    padding: 46px var(--width-limit);
    box-sizing: content-box;
}

.header_box> :nth-child(2){
    margin-left: auto;
}

.redrock{
    display: -webkit-box;
    display: flex;
    -moz-column-gap: 32px;
         -webkit-column-gap: 32px;
            column-gap: 32px;
    -webkit-box-align: center;
            align-items: center;
}

.redrock .text_box>p{
    max-width: 184px;
}

.redrock>.text{
    max-width: 560px;
    flex-shrink: 2;
}

.redrock>.img{
    width: 774px;
    max-width: 774px;
}

.redrock .flex{
    -moz-column-gap: 47px;
         -webkit-column-gap: 47px;
            column-gap: 47px;
}

.redrock .h1{
    margin-bottom: 14px;
}

.redrock >.text> p{
    margin-bottom: 26px;
}

.advantages{
    display: -webkit-inline-box;
    display: inline-flex;     
    flex-wrap: wrap; 
    gap: 26px;
    padding: 59px 0 88px 0;
    -webkit-box-pack: center;
            justify-content: center;
}

.advantages>h2{
    width: 100%;
    text-align: center;
    margin-bottom: 28px;    
}

.advantages .card{
    flex-basis: 388px;
    padding: 54px 60px 60px 34px;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.07%, #1E2242), to(rgba(30, 34, 66, 0)));
    background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
    
}

.advantages .card img{
    position: absolute;
    top: -33px;
    left: 34px;
}

.advantages .card .h5{
    margin-bottom: 11px;
}

.box_img_text{
    display: -webkit-box;
    display: flex;
    gap: 30px;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    padding: 48px 0;
}

.box_img_text>.text{
    flex-shrink: 2;
    max-width: 566px;
}

.box_img_text .h3{
    margin-bottom: 11px;
}

.box_img_text .body_font{
    margin-bottom: 21px;
}

.box_img_text .ul_name{
    margin-bottom: 11px;
}

.box_img_text ul.body_font{
    margin-bottom: 30px;
}

.box_img_text>.img_box{
    width: 566px;
    max-width: 566px;
    
}

.bg-gradient-iOS{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0E112D), to(rgba(14, 17, 45, 0)));
    background: linear-gradient(180deg, #0E112D 50%, rgba(14, 17, 45, 0) 100%);
}

.platforms{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0E112D), to(rgba(14, 17, 45, 0)));
    background: linear-gradient(180deg, #0E112D 50%, rgba(14, 17, 45, 0) 100%);    
}

.platforms .btn_box{
    gap: 24px;
    max-width: 509px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.platforms .btn_box .btn{
    width: 186px;
}

.platforms .h2{
    margin: 60px 0 12px 0;
    text-align: center;
}

.FAQ{
    max-width: 1102px;
    margin: 0 auto;
    width: 100%;
    padding: 40px 0;
}

.FAQ>.h2{
    text-align: center;
    padding: 0 0 25px 0;    
}

.accordion{    
    display: -webkit-box;    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    row-gap: 18px;    
}

.accordion-item{
    padding: 0px 34px 13px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1E2242), to(#1E2242));
    background: linear-gradient(180deg, #1E2242 0%, #1E2242 100%);
    border-radius: 5px; 
}

.accordion-header{    
    padding: 31px 0 18px;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;       
}

.ui-accordion-header-active .ui-accordion-header-icon::after{    
    -webkit-transform: translateY(-50%) rotate(180deg);    
            transform: translateY(-50%) rotate(180deg);
}

.ui-accordion-header-icon{
    -webkit-box-ordinal-group:3;
            order:2;
    position: relative; 
}

.ui-accordion-header-icon::after{
    content: " ";
    background: #fff;
    width: 24px;
    height: 2px;
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    
}

.ui-accordion-header-icon::before{
    content: " ";
    background: #fff;
    width: 24px;
    height: 2px;    
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.ui-state-active {
    border-radius:  5px 5px 0 0;        
}

.ui-accordion-content{
    padding-bottom: 13px;
}

.ui-accordion-content span{
    display: block;
    max-width: 872px;  
}

.rates{
    padding: 37px 0 60px;
}

.rates .h2{
    text-align: center;
}

.tabs{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;    
}

.tabs .tab {
    gap: 14px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: wrap;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.tabs .tab[aria-hidden="true"]{
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;    
}

.tabs .tab[aria-hidden="false"]{
    opacity: 1;
    -webkit-transition: opacity .5s linear .2s;
    transition: opacity .5s linear .2s;
}

.tabs .card{
    max-width: 326px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;    
    -webkit-box-pack: justify;    
            justify-content: space-between;
    position: relative;
}

.tabs .card .text_box{
    padding: 24px 24px 0 24px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1E2242), to(rgba(30, 34, 66, 0)));
    background: linear-gradient(180deg, #1E2242 0%, rgba(30, 34, 66, 0) 100%);
    border-radius: 5px;
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.tabs .card .star{
    position: absolute;
    right: -0px;
    top: -0px;
    right: -37px;
    top: 17px;
}

.tabs .card .text_box> :nth-child(2){
    margin-top: auto;
}

.tabs .card .card_p{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #A7A7C8;
    margin: 6px 0 31px 0;
}

.ui-tabs-nav{
    text-align: left;
    margin: 16px 0;
    margin-left: 20px;
    display: -webkit-box;
    display: flex;
    -moz-column-gap: 18px;
         -webkit-column-gap: 18px;
            column-gap: 18px;
    margin: 40px 0;
}

.card_ul{
    text-align: left;
    margin-bottom: 16px;
}

.card_ul li{    
    line-height: 27px;
}

.ui-tabs-tab{
    padding: 19px 20px;
    width: 169px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    background: rgba(86, 79, 255, 0.25);
    border: 1px solid #564FFF;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: background .5s linear;
    transition: background .5s linear;
    -webkit-transition: box-shadow .5s linear;
    transition: box-shadow .5s linear;
}

.ui-tabs-active{
    background: #564FFF;
}

.card>.img_box{
    -webkit-box-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: flex;
    margin-bottom: 17px;
    margin-right: 17px;
    gap: 17px;
    height: 33px;
}

.card .content .h4{
    margin-bottom: 16px;
}

footer{
    max-width: 342px;
    width: 100%;
    padding: 40px var(--width-limit) 54px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

footer .btn{
    margin: auto;
    width: 121px;
}

.payment{
    display: -webkit-box;
    display: flex;
    gap: 33px;    
    -webkit-box-pack: center;    
            justify-content: center;
    padding: 37px 0 22px ;
}

.login{    
    padding: 36px 36px 46px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.07%, #1E2242), to(rgba(30, 34, 66, 0)));
    background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
    -webkit-filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.11));
            filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.11));
    border-radius: 15px;
    margin-bottom: 25px;
    max-width: 900px;
    margin: 90px auto 0 auto;
    width: 100%;
}


.login .login-h2{    
    margin-bottom: 25px;
}

.login form{    
    display: -webkit-box;    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    gap: 27px;
    -webkit-box-align: center;
            align-items: center;
    width:100%;
}

.login form p{    
    max-width: 300px;
    text-align: center;
}

.login .content_box{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.btn_submit{
    padding: 21px 56px;
}

input{
    background: rgba(86, 79, 255, 0.15);
    border: 1px solid #564FFF;
    border-radius: 5px;
    padding:21px 25px;
    width: 100%;    
}

@media screen and (max-width:989px) {

    .a-logo{
        display: none;
    }
    
    .d-initial{
        display: initial!important;
    }

    .logo{
        display: none;
    }

    .desctop-img{
        display: none;
    }

    .mobile-img{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
    }

    .box_img_text>.img_box {
        width: auto;
        max-width: 566px;
    }      

    .box_img_text{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .box_img_text > .text{
        -webkit-box-ordinal-group:0;
                order:-1;
        text-align: center;
    }

    .box_img_text > .text > h3+ *{        
        text-align: left;
    }

    .box_img_text ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
    }

    .box_img_text .text .btn_box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }

    .box_img_text ul.body_font {
        margin-bottom: 20px;
    }

    .header_box{
        -webkit-box-pack: center;
                justify-content: center;
        padding: 20px var(--width-limit) 20px;
    }

    .header_box> :nth-child(2) {
        margin-left: 0;
    }

    .redrock{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        margin-top: 20px;
    }

    .redrock .text>p {
        text-align: center;
    }

    .redrock .img{
        width: auto;
        -webkit-box-ordinal-group: 0;
                order: -1;
    }

    .redrock .flex{
        -webkit-box-pack: center;
                justify-content: center;
    }

    .redrock .text_box .h2{
        font-size: 26px;
        line-height: 33px;
    }
    
    .advantages .card {
        flex-basis: 340px;
        padding: 47px 38px 47px 30px;        
    }   

    .advantages {
        padding: 59px 0 15px 0;        
    }

    .tabs .card{
        max-width: 320px;
    }

    .ui-tabs-nav {
        flex-wrap: wrap;
        gap: 18px;
        -webkit-box-pack: center;
                justify-content: center;
    }    

    .ui-tabs-nav {        
        margin: 40px 0 23px 0;
    }

    .card_ul li {
        line-height: 23px;
    }

    .rates {
        padding: 13px 0 60px;
    }

    .platforms .h2 {
        margin: 30px 0 25px 0;
        text-align: center;
    }        

    .platforms .btn_box {
        gap: 16px;
        max-width: 509px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
    }
}

@media screen and (max-width:400px) {
    .Prose {       
        grid-template-columns: [full-start] minmax(16px, 1fr) [main-start] minmax(0, 1360px) [main-end] minmax(16px, 1fr) [full-end];        
    }

    .tabs .card .star {
        position: absolute;
        right: 0px;
        top: 0px;
        right: -16px;
        top: 17px;
    }

    :root{
        --width-limit:16px;
    }
}



